/*#2983c0, #64c1e6*/
.login{
    width: 370px;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #cecece;

    border-radius: 8px;
    border-style: groove;
}

div form{
    margin-top: 10px;
    margin-bottom: 10px;

    color: black;
    text-align: center;
    width: 200px;
}

div a{
    text-decoration: none;
}

input[type='file'] {
  display: none
}

#dataF, .botaoArquivo{
    width: 200px;
}