*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}



.divPrincipal{
    width: 100%;
    height: 100%;
}

.chaves{
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0px;
    top: 0px;
    
    background: #00D8D8;
}

.quico{
    box-sizing: border-box;

    position: absolute;
    width: 250px;
    height: 37px;
    right: 3%;
    top:15%;

    background: #FFFFFF;
    border: 1px solid #E0E7ED;
    border-radius: 8px;
}

.seubarriga{
    left: 0%;
    margin-top: 1%;
}



.lupa{
    position: absolute;
    left: 12.5%;
    right: 12.5%;
    top: 12.5%;
    bottom: 12.5%;

    border: 2px solid #BDBDBD;
}

.pesq{
    
    position: absolute;
    width: 198px;
    height: 15px;
    left: 37px;
    top: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;

    color: #BDBDBD;
}

/*.divide{
    margin-top: 6.5%;
    width: 100%;
    height: 2%;

    background-color: black;
}*/

.seuMadruga{
    display: flex;
    text-align: center;
    flex-direction: row;
    position: absolute;
    width: 88%;
    height: 10%;
    margin-left: 5.5%;
    top: 22%;

    background: #333333;
    border-radius: 5px 5px 5px 5px;
}

.veia71{
    margin-top: 1%;
}

.veia71, .veia17{
    width: 120px; 
    height: 37px;
    margin-left: 1%;

    background: #00D8D8;
    border-radius: 5px;
}

.girafales{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: absolute;
    width: 88%;
    margin-left: 5.5%;
    top: 30%;

    background:#FFFFFF;
    border-radius: 0px 0px 5px 5px;
}

.botaoTarefa{
    width: 55px;
    height: 39px;
    left: 100px;
    top: 23px;

    background: #00D8D8;
    border-radius: 5px; 
}



.florinda{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 80%;
    height: 70px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    background:#f7f3f3;
    border-radius: 0px 0px 5px 5px;

    box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.25);
}

.chiquinha{
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    color: rgb(0, 0, 0);

    width: 100%;
    display: flex;

    justify-content: space-between;
}

a:link:hover{
    text-decoration: none;
    color: black;
}

.nome{ 
    margin-left: 10%;
    
}

.status{
    margin-right: 10%;
}

.statusEntregue{
    margin-right: 15.3%;
}

.NaoEntregue{
    color: rgb(255, 0, 0);
    font-weight: 300;
    font-size: 20px;
    border-radius: 10px 10px 10px 10px;

}

.Entregue{
    color: #00D8D8;
    font-weight: 300;
    font-size: 20px;
    border-radius: 10px 10px 10px 10px;
    

}