*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}



.divPrincipal{
    width: 100%;
    height: 100%;
}

.eevee{
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0px;
    top: 0px;
    
    background: #00D8D8;
}

.botaoPesq{
    border-radius: 50%;
    padding: 20px; 
    width: 37px;
    height: 37px;    

    position: absolute;
    right: 24%;
    top: 28%;
 
    
}

.lilligant{
    left: 0%;
    margin-top: 1%;
}

.magikarp{
    box-sizing: border-box;

    position: absolute;
    width: 250px;
    height: 37px;
    right: 3%;
    top: 30%;

    background: #FFFFFF;
    border: 1px solid #E0E7ED;
    border-radius: 8px;
}

.lupa{
    position: absolute;
    left: 12.5%;
    right: 12.5%;
    top: 12.5%;
    bottom: 12.5%;

    border: 2px solid #BDBDBD;
}

.pesq{

    border-radius: 25px;
    border: 2px solid #609;
    padding: 20px; 
    width: 200px;
    height: 15px;    

    top: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;

    color: #BDBDBD;
}

/*.divide{
    margin-top: 6.5%;
    width: 100%;
    height: 2%;

    background-color: black;
}*/

.haxorus{
    display: flex;
    
    text-align: center;
    flex-direction: row;
    position: absolute;
    width: 88%;
    height: 10%;
    margin-left: 5.5%;
    top: 22%;

    background: #333333;
    border-radius: 5px 5px 5px 5px;
}

.cubchoo{
    margin-top: 1%;
}

.cubchoo, .cubcho{
    width: 55px; 
    height: 39px;
    margin-left: 1%;

    background: #00D8D8;
    border-radius: 5px;
}

.botaoTarefa{
    width: 55px;
    height: 39px;
    left: 100px;
    top: 23px;

    background: #00D8D8;
    border-radius: 5px; 
}

.ivysaur{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: absolute;
    width: 88%;
    margin-left: 5.5%;
    top: 30%;

    background:#FFFFFF;
    border-radius: 0px 0px 5px 5px;
}

.pikachu{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 80%;
    height: 70px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    background:#f7f3f3;
    border-radius: 0px 0px 5px 5px;

    box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.25);
}

.charmander{
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    color: rgb(0, 0, 0);

    width: 100%;
    display: flex;

    justify-content: space-between;
}

a:link:hover{
    text-decoration: none;
    color: black;
}

.nome{ 
    margin-left: 8%;
}

.data{
    margin-right: 10%;
}

.naopossui{
    display: flex;
    justify-content: center;
}